# Do not remove this line, otherwise mod_rewrite rules will stop working

RewriteBase /
ErrorDocument 404 /404.php

AddType text/cache-manifest .manifest

RewriteEngine On
RewriteCond %{HTTP_HOST} ^panicotippspiel\.com [NC] 
RewriteRule ^(.*)$ http://www.panicotippspiel.com/$1 [L,R=301]
RewriteRule    ^news/?$    news.php  [NC,L]
RewriteRule    ^tabelle/?$    tabelle.php  [NC,L]
RewriteRule    ^tipps/?$    tipps-anzeigen.php  [NC,L]
RewriteRule    ^ergebnis/?$    ergebnis.php  [NC,L]
RewriteRule    ^stats/?$    stats.php  [NC,L]
RewriteRule    ^new/?$    addgames.php  [NC,L]
RewriteRule    ^/?$    index.php  [NC,L]
RewriteRule    ^faq/?$    faq.php  [NC,L]
RewriteRule    ^help/?$    faq.php  [NC,L]
RewriteRule    ^regeln/?$    faq.php  [NC,L]
RewriteRule    ^hilfe/?$    faq.php  [NC,L]
RewriteRule    ^king/?$    tabelle.php  [NC,L]
RewriteRule    ^tipps-anzeigen/?$    tipps.anzeigen.php  [NC,L]
RewriteRule    ^add/?$    addgames.php  [NC,L]
RewriteRule    ^mehrspiele/?$    addgames.php  [NC,L]
RewriteRule    ^addgames/?$    addgames.php  [NC,L]
RewriteRule    ^f5/?$    f5.php  [NC,L]
RewriteRule    ^refresh/?$    refresh.php  [NC,L]
RewriteRule    ^newsf5/?$    newsrefresh.php  [NC,L]
RewriteRule    ^f5news/?$    newsrefresh.php  [NC,L]
RewriteRule    ^U21/?$    news.php  [NC,L]
RewriteRule    ^u21/?$    news.php  [NC,L]
RewriteRule    ^archiv/?$    archiv.php  [NC,L]
RewriteRule    ^BL/?$    bundesliga.php  [NC,L]
RewriteRule    ^bundesliga/?$    bundesliga.php  [NC,L]
RewriteRule    ^premierleague/?$    premierleague.php  [NC,L]
RewriteRule    ^PL/?$    premierleague.php  [NC,L]
RewriteRule    ^seriea/?$    seriea.php  [NC,L]
RewriteRule    ^ligue1/?$    ligue1.php  [NC,L]
RewriteRule    ^bundesligaat/?$    bundesligaat.php  [NC,L]
RewriteRule    ^ligen/?$    ligen.php  [NC,L]
RewriteRule    ^primeradivision/?$    primeradivision.php  [NC,L]
RewriteRule    ^EM/?$    emquali.php  [NC,L]
RewriteRule    ^CL/?$    cl.php  [NC,L]
RewriteRule    ^EL/?$    el.php  [NC,L]
RewriteRule    ^kalender/?$    faq#kalender  [NC,L]
RewriteRule    ^feed/?$    newsfeed.xml  [NC,L]
RewriteRule    ^notifications/?$    notifications.php  [NC,L]




php_value auto_prepend_file none
php_value auto_append_file none